- name: Configure yum repo for Kubernetes 
  yum_repository:
      name: kubernetes.repo
      description: Kubernetes Repos
      baseurl: https://packages.cloud.google.com/yum/repos/kubernetes-el7-\$basearch
      gpgcheck: yes
      enabled: yes
      repo_gpgcheck: yes
      gpgkey: https://packages.cloud.google.com/yum/doc/yum-key.gpg https://packages.cloud.google.com/yum/doc/rpm-package-key.gpg

- name: Install Kubeadm , docker and tc software
  package:
    name: "{{ item }}"
    state: present
  loop: 
    - kubeadm
    - docker
    - iproute-tc

- name: Enabel services for docker and kubelet 
  service:
     name: "{{ item }}"
     state: started
     enabled: yes
  loop:
    - kubelet
    - docker

- name: Change Cgroup Driver
  copy:
    dest: /etc/docker/daemon.json
    src: daemon.json

- name: Restarting docker service
  service:
    name: docker
    state: restarted

- name: Updating k8s config file
  copy:
    dest: /etc/sysctl.d/k8s.conf
    src: k8s.conf

- name: Restarting sysctl
  command: "sysctl --system"

       


